<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/stylearnaud.css" />
        <title id="title">
                Explorateur Bitcoin Core
        </title>
          <script src="/js/jquery.min.js"></script>
          <script src="/js/main.js"></script>
      
    </head>

    <body>
        <div id="page-content">    
       
        <div class="bandeau">
            <span>Bienvenue dans le navigateur Bitcoin Core</span>
            <div id ="signature"> by <a href="/"> Arnaud (c)Alyra</a></div>
        </div>
        
       <p> Veuillez entrer le hash du bloc recherché dans le champ ci-dessous</p>
       <p>exemple: "634da0187b0f666497c81ea4a90312478dc1ca7a84541c09f62927fce033cd32"</p>
      
       <input id="search" type="search" placeholder="Entrer le HASH du bloc recherché" /> 
       
        <div id="results"></div>


        </div>
 

    </body>

</html>