<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/stylearnaud.css" />
        <title id="title">
                Explorateur Bitcoin Core
        </title>
          <script src="/js/jquery.min.js"></script>
          <script src="/js/main.js"></script>
      
    </head>

    <body>
        <div id="page-content">    
            
       
        <div class="bandeau">
            <span>Bienvenue dans le site des défis d'Arnaud V.</span>
            <div id ="signature">by <a href="/"> Arnaud (c)Alyra</a></div>
        </div>
        
       <div id="listedefis">
       
        <h1>Liste des défis : </h1>
      

       <p> <a href="/exploreurbtc">Navigateur Bitcoin</a> </p>
       
       </div>


        </div>
 

    </body>

</html>